@import url("../../../utils/colors.css");

.italic-h5 {
    color: "#000000";
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.btnColor {
    background-color: var(--color-secondary);
    color: "#ffffff";
}