.submitBtn{
    background-color: #14649b;
    border: 1px solid #000;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 100%;
    height: 6vh;
}
.submitBtn:hover{
    background-color: #c31434;
    border: 1px solid #000;
    color: #fff;
}

input[type="date"]:not(.has-value):before {
    color: #000;
    content: attr(placeholder);
}