.aboutUs{
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: #212121;
}
.ourCommunity{
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: #212121;
}

@media (min-width: 768px) {
  .aboutUs {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1199px) {
    .aboutUs{
        grid-template-columns: 1fr 1fr;
    }
        .ourCommunity {
            grid-template-columns: 1fr 1fr;
            grid-auto-flow: dense;
        }
    .xl-display-none{
        display: none;
    }
}

